html {
    margin: 0;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}
body {
    margin: 0px;
    top: 0;
    right: 0;
}
.portfolio-hero {
    background: url(../img/background.jpg) no-repeat center center fixed;
    height: 100vh;
    background-size: cover;
    text-align: center;
    color: white;
}
.portfolio-menu ul {
    margin: 0;
    display: flex;
    justify-content: center;
    padding-top: 15px;
    font-size: 1.34rem;
    
}
.portfolio-menu ul li {
    margin: 0px 10px;
    list-style: none;
}
 .portfolio-menu ul :hover{
    background-color: rgb(141, 155, 141);
}
.portfolio-menu .menu-item a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

.portfolio-profile {
    width: 650px;
    height: 400px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 50%);
    text-align: center;
}
.portfolio-profile img {
    height: 250px;
    width: 250px;
    border-radius: 50%;
}
.portfolio-profile h1 {
    font-weight: 300;
    margin: 15px;
    font-size: 3.2rem;
}

.portfolio-profile h2 {
    font-weight: 300;
    margin: 0px;
    font-size: 2.2rem;
}

/* MAIN */
main {
    margin: 0;
    padding: 0;
    background-color: rgb(8, 4, 37);
    text-align: center;
}
#about {
    padding: 45px;
    color: white;
}
#about h2{
    margin: 0;
    font-size: 2.5rem;
    font-weight: 300;
}
#about p {
    font-size: 1.3rem;
    font-weight: 300;
}
#skills {
    color: white;
    background-color: rgb(23, 23, 26);
    padding-top: 15px;
}

#skills h2{
    font-size: 2.5rem;
    font-weight: 300;
    margin: 20px 0px;
}
#skills h3{
    font-size: 1.8rem;
    font-weight: 300;
}
.skill-main-grid {
    
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.skill-main-grid h2 {
    font-size: 1.5rem;
}

/* about me */
.form-label{
    padding: 10px 0px;
    font-size: 1.3 rem;
}
    
.form-input input{
    width: 100%;
    padding: 7px 0px;
    border-radius: 8px;

}
.form-input input:focus{
    transition: .7s;
    border-color: aquamarine;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123 25, alpha);

}
.form-input-textarea{
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
    width: 100%;
    padding: 7px 0px;
    height: 200px;

}
.form-input-textarea textarea:focus{
    transition: .7s;
    border-color: aquamarine;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123 25, alpha);

}
.form-submit{
    margin-top: 5px;
    text-align: right;
}
.btn-submit{
    margin-top: 5px;
    text-decoration: none;
    color: gray;
    background-color: darkslategray

}
.footer{
    color: gray;
    text-align: center;
    padding: 20px;
    background: darkslategray;
}